.Presentation {
  margin-top: var(--mb-2-5);
}

.Presentation h1 {
  font-size: var(--h1-font-size);
  text-align: center;
}

.Presentation__subtitle {
  font-size: var(--h2-font-size);
  text-align: center;
  margin-bottom: var(--mb-1-5);
}

.Presentation__explain {
  place-content: center;
}

.Presentation__explain p {
  font-size: var(--h3-font-size);
  font-weight: bold;
  font-style: italic;
}

.Presentation__explain span {
  width: 70px;
  display: flex;
  place-content: center;
  margin: 0 var(--mb-1) 0 var(--mb-1);
  animation: spin 2s linear infinite;
}

.Presentation__explain img {
  width: 25px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(-185deg);
  }
  60% {
    transform: rotate(-185deg);
  }
  90% {
    transform: rotate(0deg);
  }
}
