.Translator {
  width: 100%;
}

.Translator textarea {
  width: 100%;
  max-width: 968px;
  resize: none;

  border: none;
  background-color: #f0f0f0;
  font-size: var(--h2-font-size);
  border-radius: var(--mb-1-5);
  outline: none;
  padding: var(--mb-1-5);
  margin-top: var(--mb-2);
}

.Translator form button {
  background: var(--title-color-dark);
  color: var(--container-color);
  /* background-color: var(--white-color); */
  width: 100%;
  padding: var(--mb-1);
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 3px;
  border-radius: var(--mb-0-5);
  margin-bottom: var(--mb-1);
  transition: var(--ts-soft);
}

.Translator form button:hover {
  background: #3b3b98;
}

.outcome {
  max-width: 968px;
  padding: 1rem;
  /* position: relative; */
  padding: 3px;
  /* background: linear-gradient(to right, #58B19F, #3B3B98); */
  border-radius: var(--mb-1-5);
  border: 2px solid var(--title-color-dark);
  padding: var(--mb-1-5);
  
  display: flex;
  place-content: center;
  flex-direction: column;
  transition: var(--ts-soft);
  cursor: pointer;
  margin-top: var(--mb-2);
}

.outcome:hover {
  transform: scale(105%);
}

.result {
  /* width: 100%; */
  display: inline-flex;
  font-size: var(--h2-font-size);
  margin: auto;
  margin-bottom: var(--mb-2);
  /* text-align: center; */
  /* text-align: center; */
}

.disclamer {
  font-weight: bold;
  font-style: italic;
  font-size: var(--small-font-size);
  text-align: center;
}
